html {
	background: url("images/bg.png") no-repeat center center fixed;
	background-size: cover;
}

body {
	font-family: 'Source Code Pro', monospace;
	font-size: 14px;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
}

li {
	float: left;
}

li a {
	display: block;
	color: white;
	text-align: center;
	padding: 10px 12px;
	text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
	background-color: #111;
}