body {
	font-family: 'Lexend Deca', sans-serif;
}

.nav {
	font-family: 'Source Code Pro', monospace;
	font-size: 14px;
}

.fab {
	padding: 10px 10px;
}

.fas {
	padding: 10px 10px;
}

.jumbotron {
	padding: 100px 25px;
}

h2 {
	font-family: 'Satisfy', cursive;
	font-size: 48px;
	padding: 48px 48px;
}

.textbox {
	padding-left: 200px;
	padding-right: 200px;
}

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
}

@media only screen and (min-width: 1025px) {
	.jumbotron {
		height: 100vh;
	}
}

/* headlines with lines */
.decorated{
     overflow: hidden;
     text-align: center;
 }
.decorated > span{
    position: relative;
    display: inline-block;
}
.decorated > span:before, .decorated > span:after{
    content: '';
    position: absolute;
    top: 50%;
    border-bottom: 2px solid;
    width: 592px; /* half of limiter */
    margin: 0 20px;
}
.decorated > span:before{
    right: 100%;
}
.decorated > span:after{
    left: 100%;
}